include ../../components/button/button.pug

.main.app__main
    picture.main__background
        source(
            srcset="public/assets/images/banner-mobile.png"
            media="(max-width: 649px)"
        )
        source(
            srcset="public/assets/images/banner.png"
            media="(min-width: 650px)"
        )
        img(
            src="public/assets/images/banner-mobile.png"
        )
    .main__container.container
        div.main__wrapper
            h1.main__title Voice<br />Tag Lab
            +theText('h4', 'large').main__subtitle.main__subtitle--mobile The best custom voice tags online
            +theText('h4', 'h3').main__subtitle.main__subtitle--desktop The best custom voice tags online
            +theText('p', 'small').main__description Voice Tag is a necessity for every music producer. We offer a wide range of voices and professional service. Brand your sound with us! Become known
            +buttonGradientBackground.main__action Get your custom tag
